* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v17_747 {
  width: 100%;
  height: 1435px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 0px 3px 6px rgba(0.07058823853731155, 0.05882352963089943, 0.1568627506494522, 0.11999999731779099);
  overflow: hidden;
}
.v17_748 {
  width: 100%;
  height: 404px;
  background: rgba(23,40,68,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 0px 0px 1px rgba(0.09019608050584793, 0.10196078568696976, 0.12156862765550613, 0.07000000029802322);
  overflow: hidden;
}
.v17_749 {
  width: 100%;
  height: 404px;
  background: url("v17_749.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: px;
  left: 0px;
  border: 0px solid rgba(189,193,202,1);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v17_750 {
  width: 128px;
  height: 128px;
  background: url("v17_750.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 63px;
  left: 118px;
  border: 0px solid rgba(189,193,202,1);
  border-top-left-radius: 64px;
  border-top-right-radius: 64px;
  border-bottom-left-radius: 64px;
  border-bottom-right-radius: 64px;
  overflow: hidden;
}
.v17_751 {
  width: 194px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 88px;
  left: 256px;
  font-family: Lexend;
  font-weight: Bold;
  font-size: 38px;
  opacity: 1;
  text-align: left;
}
.v17_752 {
  width: 63px;
  height: 68px;
  background: rgba(44,56,80,1);
  opacity: 1;
  position: absolute;
  top: 134px;
  left: 1087px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v17_753 {
  width: 34px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 7px;
  left: 12px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v17_754 {
  width: 12px;
  height: 12px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 55px;
  left: 50px;
  overflow: hidden;
}
.v17_755 {
  width: 15px;
  height: 1px;
  background: rgba(44,56,80,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 0px;
  transform: rotate(-45deg);
}
.v17_756 {
  width: 7px;
  height: 1px;
  background: rgba(44,56,80,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 6px;
  transform: rotate(-45deg);
}
.v17_757 {
  width: 65px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 131px;
  left: 1262px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v17_758 {
  width: 46px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 131px;
  left: 998px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v17_759 {
  width: 40px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 131px;
  left: 918px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v17_760 {
  width: 36px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 131px;
  left: 1186px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v17_761 {
  width: 556px;
  height: 373px;
  background: url("v17_761.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 595px;
  left: 740px;
  border: 0px solid rgba(189,193,202,1);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v17_762 {
  width: 432px;
  color: rgba(140,136,143,1);
  position: absolute;
  top: 820px;
  left: 146px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v17_763 {
  width: 425px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 602px;
  left: 147px;
  font-family: Lexend;
  font-weight: Bold;
  font-size: 38px;
  opacity: 1;
  text-align: left;
}
.v17_764 {
  width: 596px;
  color: rgba(140,136,143,1);
  position: absolute;
  top: 1251px;
  left: 339px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v17_765 {
  width: 168px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 737px;
  left: 149px;
  font-family: Lexend;
  font-weight: Bold;
  font-size: 38px;
  opacity: 1;
  text-align: left;
}
.v17_766 {
  width: 317px;
  color: rgba(140,136,143,1);
  position: absolute;
  top: 1360px;
  left: 522px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v17_767 {
  width: 140px;
  height: 33px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 985px;
  left: 145px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  overflow: hidden;
}
.v17_768 {
  width: 65px;
  color: rgba(245,84,74,1);
  position: absolute;
  top: 6px;
  left: 38px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v17_769 {
  width: 76px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1179px;
  left: 671px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
