* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

.menu-bar {
  display: flex; /* Align items horizontally */
  justify-content: flex-end; /* Align items to the end (right) */
  gap: 10px; /* Space between buttons */
  margin: 0; /* Remove margin to prevent shifting */
  margin-top: 70px;
  margin-right: 80px;
  height: 50px;
}

.menu-container {
  border-radius: 25px; /* Rounds the corners */
  background-color: rgba(0, 0, 0, 0.4); /* Transparent background */
  -webkit-backdrop-filter: blur(10px); /* Background blur */
  backdrop-filter: blur(10px); /* Background blur */
  padding: 5px; /* Padding inside the container */
  display: flex; /* Use flexbox for centering */
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
}

.menu-bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex; /* Ensures items stay in a single row */
}

.menu-bar li {
  margin: 0 4px; /* Reduced margin */
}

.menu-button {
  color: white; /* Text color */
  font-family: sans-serif;
  font-weight: bold;
  font-size: 14px; /* Reduced font size */
  padding: 8px 20px; /* Padding for the button */
  border: none; /* Remove default button border */
  background: transparent; /* Transparent background */
  cursor: pointer;
  white-space: nowrap;
  transition: color 0.2s, background 0.2s; /* Smooth transition for color and background */
  border-radius: 10px; /* Rounded corners for buttons */
}

.menu-button:hover {
  background: linear-gradient(to bottom, #e8edec, #d2d1d3); /* Background change on hover */
  color: black; /* Text color change on hover */
  box-shadow: 0px 3px 20px 0px black; /* Shadow effect on hover */
}
